<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/greet.css">
  <link rel="stylesheet" href="/css/simple-grid.css">
</head>

<body>
  <div class="container">
{{{body}}}

   </div>
{{!-- This will add a variable on can use in handlebars templates like this: --}}




</body>

</html>