<div class="row center">

<div class="center">
 <h1 >COUNTER PAGE</h1> 

</div>


<div class="greetingsMsg">

 <h3> {{name}} has been greeted {{count}} time(s) </h3> 
 
</div>
</div>

<button class='back center' type="button" name="link"><a href="/greeted">Back</a></button>