<div class="row center">

<div class="center">
<h1 >GREETED LIST</h1>
<div>

{{#each name}}
<a href="/counter/{{this.name}}">
    <li>{{this.name}}</li>
</a>
{{/each}}

</div>

<button class='back' type="button" name="link"><a href="/">Back</a></button>