body {
    /* you can use a more complete font-family from VSCode as well */
    font-family: arial;
    background-color: aquamarine;

}

.row {
   /* background-color: bisque;*/
    padding: 0.50em;
   /* display: flex;*/
}

.red {
    color:red;
}
.counterClear {
    background-color: #f12d1f;
} /* Red */

.textClear {
    background-color: #08ff10;
} /* Green */

.greetMeBtn {
    background-color: #008bb9;
} /* Blue */

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    
}

a.btn {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    
}

h1 {
    font-family: "Arial Black", sans-serif;
    font-size: 4.5em;
    letter-spacing: -1px;
    background-color: black;
    color: white;

  }
  label {
      display: inline;
  }


  .greetingsMsg {
    
        font-family: Georgia, sans-serif;
        font-size: 2.5em;
        letter-spacing: -2px;

  }

  h3 {

    font-family: Georgia, sans-serif;
    font-size: 2.5em;
    letter-spacing: -2px;

  }

  li {
    font-family: Georgia, sans-serif;
    font-size: 1.5em;
    letter-spacing: -2px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;


  }
  .entry {
    font-family: Georgia, sans-serif;
    font-size: 1.3em;
    letter-spacing: -2px;
    color: red;

  }
  .back {
    margin-top: 3em;
}
/* p { center any div */


p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

